<% title("Home Page") %>
<h1>Zendesk Single Sign On Test</h1>

<p>You can signin as any of these people</p>
<ul>
  <% 5.times do |i| %>
    <li>user<%=i+1%> / 1234</li>
  <% end %>
</ul>

<p>First six of zendesk shared secret key: <b><%=Zendesk::ZENDESK_SHARED_SECRET[0..5]%></b></p>

<p><%= link_to 'Go to Zendesk', zendesk_help_url %></p>

<p>Sample Zendesk urls</p>
<ul>
  <% User.all.each do |u| %>
    <% zurl = Zendesk.sign_into_zendesk(u) %>
    <li><%=u.username%>/<%=u.email%> <%=link_to zurl, zurl %></li>
  <% end %>
</ul>

<% if params[:kind] || params[:message] %>
  <p><%= debug(params) %></p>
<% end %>
